@media screen and (min-width: 700px) {

  header {
    margin: 30px 10px;
    text-align: left;
  }
  
  header nav {
    margin-top: -35px;
    float: right;
  }
  
  .intro {
    margin: 0 10px;
    color: #939696;
    text-align: left;
    background: #333333;
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  }
  
  .intro p {
    margin: 0;
  }
  
  .intro strong {
    color: white;
  }
  
  .primary .content {
    margin: 0 10px;
  }
  
  .secondary .content {
    margin: 0 10px;
  }

  .secondary .column {
    margin: 0;
  }

  .no-right-margin {
    margin-right: 0 !important;
  }

  .secondary .column {
    width: 33.333333333%;
    float: left;
  }
  
}


@media screen and (min-width: 950px) {
  
  header {
    margin: 30px 20px 0 0;
    width: 20%;
    float: left;
    text-align: right;
  }
  
  header nav {
    float: none;
    margin: 0 0 0 10px;
    text-align: right;
  }
  
  header nav li {
    display: block;
    margin: 0;
    padding: 5px;
  }
  
  header .intro {
    margin: 0;
    margin-top: 30px;
    text-align: right;
  }

  .main-content {
    margin-bottom: 20px;
    width: 75%;
    float: left;
  }
 
}